@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
#stats{
  padding-left: 11%;
  margin-top: 15%;
  margin-bottom: 2%;
  width: 80%;
  justify-content: center;
  color: #e76f51;
  font-style: italic;
  animation: fadeIn 3s;
  
}
#loader{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
}

#container {

  width: 80%;
  height: 2rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  will-change: transform;
  box-shadow: 0 0 5px #e76f51;
}

#overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #e76f51;
  
  right: -100%;
  border-radius: inherit;
  display: flex;
  text-align: right;
  /* align-items:center; */
  color: white;
  font-family: sans-serif;
  transition: all 1s;
}