#stats{
  
  
}

#loader{
  /* margin: 45% 20% 20% 45%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#container {
  width: 80%;
  height: 2rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  will-change: transform;
  box-shadow: 0 0 5px #e76f51;
}

/* span{
  display: none;
  z-index: 2;
} */

#overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #e76f51;
  top:0;
  bottom: 0;
  right: -100%;
  border-radius: inherit;
  display: flex;
  text-align: right;
  /* align-items:center; */
  color: white;
  font-family: sans-serif;
  transition: all 1s;
}